/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    align-content: center ;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    background-image: linear-gradient(120deg, rgb(255, 220, 220),rgb(215, 255, 215));
}

/* Container Styles */
.container-1,
.container-2 {
    display: inline-block;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0px 8px ;
    margin-right: 20px;
    min-width: 300px;
}

.container-1 {
    width: 42%;
    height: 50vh;
}

.container-2 {
    width: 30%;
    display: flex;
    flex-direction: column;
}

/* Title Styles */
.container-1 h1,
.container-2 h1 {
    text-align: center;
    /* font-size: 24px; */
    margin-bottom: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Product List Styles */
.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.products span {
    width: 20%;
    text-align: center;
}

.products div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button Styles */
button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    width: 30px;
    text-align: center;
}

button:hover {
    background-color: #2980b9;
}

/* Cart Styles */

#cart1{
    display: flex;
    flex-direction: column;
}
.cartarea1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.cartarea1 span {
    width: 50%;
    text-align: center;
}

/* Total Styles */
#total {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    
}

#cart2 span {
    font-size: 20px;
    font-weight: bold;
    padding-top: 1.3rem;
}
