* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #beffa8;
}

h1 {
  text-align: center;
  padding-bottom: 6rem;
  /* font-weight */
  font-family: fantasy, arial;
  letter-spacing: 0.6mm;
  text-decoration: solid;
  font-size: 45px;
}
.container {
  width: 100%;
  max-width: 700px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 30px;
  position: absolute;
}

.calculator {
  background: linear-gradient(120deg, rgb(220, 142, 114), rgb(200, 158, 116));
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 0px 10px;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 350px;
}
input,
button {
  height: 50px;
  background-color: #ffffff;
  color: #080808;
  font-weight: 500;
  border-radius: 7px;
  border: none;
  margin: 5px 0;
  box-shadow: 0px 0px 7px;
}
input {
  width: 60%;
  max-width: 60%;
  padding: 0 20px;
  font-size: 17px;
}
button {
  width: 27%;
  font-size: 18px;
  font-weight: 550;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

button:hover {
  box-shadow: rgb(0, 0, 0) 0 8px 10px;
  transform: translateY(-3px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

.results {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.results div {
  width: 100px;
  height: 100px;
  background: linear-gradient(120deg, rgb(220, 142, 114), rgb(200, 158, 116));
  color: #121111;
  display: grid;
  place-items: center;
  padding: 20px 0;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 10px;
  font-weight: bold;
  font-size: 22px;
}

@media (max-width: 768px) {
    .container{
        padding-left: 0;
    }
  .calculator {
    flex-direction: column;
    align-items: center;

  }

  input,
  button {
    max-width: none;
    width: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    padding-bottom: 2rem;
    text-align: center;
    padding-left: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .container {
    padding: 20px;
  }

  .calculator {
    padding: 20px;
  }

  .results div {
    width: 80px;
    height: 80px;
  }
}
